//- _layout.pugを読み込みテンプレートとして使用する
extends ../include/_layout

block config
	include ../include/_config
	- var page = pagelist['voice'];
	- var h1_setting = false;
	- var path = '../assets/';
	- var img_path = path + 'images';
	- var link_path = '../';
	- var bodyClass = 'pg_about pg_sec'

//- index.htmlにのみ必要なcssファイル
block append head
	//- link(rel="stylesheet" href=path+"css/swiper.min.css")
	//- script(src=path+"js/swiper.min.js")
	//- script(src="https://cdn.jsdelivr.net/npm/chart.js")

block bodyClass
block content
	//- 背景アニメーション
	+floating-parts
	main.ly_main
		//- -------------------------------------------------------------------
		//- career
		//- -------------------------------------------------------------------
		section.bl_sectMV
			.bl_sectMV_inner
				.el_lv2Heading_wrap
					h1.el_lv2Heading.hp_en.js_fadein
						span ひがしんのこと
						|About
					figure.bl_sectMV_figure
						img(src=img_path+"/about/img_about_mv.webp", alt="")
					p.bl_sectMV_txt 
						|1945年の誕生から、80年近くにわたり地域とともに歩んできたひがしん。
						br
						|そんなひがしんのこれまでの歩みや大切にしている想い、さまざまなつながりについてお伝えします。

		//- -------------------------------------------------------------------
		//- career
		//- -------------------------------------------------------------------
		section.bl_sect.bl_about
			.ly_cont
				.el_lv2Heading_wrap.el_lv2Heading_wrap__line
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんの想い
						|Core
				figure.bl_about_kagi
					img(src=img_path+"/common/img_kagi.svg", alt="")
				figure.bl_about_txtImg
					img(src=img_path+"/about/img_about_core.webp", alt="")
				.bl_about_flex
					.bl_about_flex_item 
						h3.bl_about_flex_ttl
							|信望
						p.bl_about_flex_txt 
							|お客様第一の姿勢で、
							br
							|誠実・健全な経営を
				

					.bl_about_flex_item 
						h3.bl_about_flex_ttl
							|躍動
						p.bl_about_flex_txt 
							|独創的な発想を活発にして
							br
							|力強い競争力を

					.bl_about_flex_item 
						h3.bl_about_flex_ttl
							|共存
						p.bl_about_flex_txt 
							|役職員が協力して、
							br
							|地域社会との共存共栄を
				h3.bl_about_ttl
					|あたたかく—人へ・街へ
				p.bl_about_txt
					|ひがしんでは「縁 あたたかく－人へ・街へ」という経営理念のもと、地域やお客さまはもちろん、
					br.hp_pcOnly
					|国や地方自治体、連携する大学、そして職員同士などさまざまなつながりを意識した経営を心がけています。

		//- -------------------------------------------------------------------
		//- career
		//- -------------------------------------------------------------------
		section.bl_sect.bl_about
			.ly_cont
				.el_lv2Heading_wrap.el_lv2Heading_wrap__line
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんが目指す姿
						|Vision
				figure.bl_about_kagi
					img(src=img_path+"/common/img_kagi.svg", alt="")
				h3.bl_about_ttl.hp_cPrimary
					|あたたかく—人へ・街へ
				.bl_about_flex
					.bl_about_flex_item 
						p.bl_about_flex_txt.hp_cPrimary.hp_fw700
							|お客様第一の姿勢で、
							br
							|誠実・健全な経営を
				
					.bl_about_flex_item 
						p.bl_about_flex_txt.hp_cPrimary.hp_fw700
							|独創的な発想を活発にして
							br
							|力強い競争力を

					.bl_about_flex_item 
						p.bl_about_flex_txt.hp_cPrimary.hp_fw700
							|役職員が協力して、
							br
							|地域社会との共存共栄を

				p.bl_about_txt
					|お客さまだけでなく、お取引先や職員を含めた当金庫に関わるすべての人の夢を叶える場所でありたいという想いから、
					br.hp_pcOnly
					|ひがしんでは「夢を夢で終わらせない信用金庫」というスローガンを掲げています。

		//- -------------------------------------------------------------------
		//- career
		//- -------------------------------------------------------------------
		section.bl_sect.bl_about
			.ly_cont
				.el_lv2Heading_wrap.el_lv2Heading_wrap__line
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんの歩み
						|History
				p.bl_about_txt
					|ひがしんは1945年に誕生し、80年近くにわたって地域とともに歩み、成長してきました。
					br.hp_pcOnly
					|そんなひがしんのこれまでの歩みを代表的なトピックとともに、簡単にご紹介します。

				.bl_about_list
					di.bl_about_list_dl
						dt.bl_about_list_dt
							|1945年12月
						dd.bl_about_list_dd
							|寺島町、吾嬬町、亀戸町の3信用組合が合併し、東京東信用金庫の前身である「東武信用組合」が誕生
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|1951年10月
						dd.bl_about_list_dd
							|信用金庫法により「東武信用金庫」になる
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|1952年3月
						dd.bl_about_list_dd
							|優良金融機関店舗として大蔵大臣および日本銀行総裁から表彰を受ける
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|1992年7月
						dd.bl_about_list_dd
							|ビジネスクラブ「オーロラ」発足
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|1995年4月
						dd.bl_about_list_dd
							|「ひがしんわいわい倶楽部」誕生
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|1999年1月
						dd.bl_about_list_dd
							|東武信用金庫は、中央信用金庫、協和信用金庫、大東信用金庫の3金庫と合併し、「東京東信用金庫」になる
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2000年9月
						dd.bl_about_list_dd
							|ひがしん本部、両国支店ビルへ移転
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2001年1月
						dd.bl_about_list_dd
							|ハロープラザ両国を開設
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2003年1月
						dd.bl_about_list_dd
							|小岩信用金庫が合流、新生「東京東信用金庫」誕生
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2005年10月
						dd.bl_about_list_dd
							|全国で初となる信用金庫と国立大学との産学連携協定を東京海洋大学と締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2008年9月
						dd.bl_about_list_dd
							|ひがしんレディースクラブ「レインボー」発足
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2008年12月
						dd.bl_about_list_dd
							|芝浦工業大学と産学連携協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2008年12月
						dd.bl_about_list_dd
							|ひがしん塾「ラパン」発足
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2009年7月
						dd.bl_about_list_dd
							|千葉商科大学と産学連携協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2013年11月
						dd.bl_about_list_dd
							|タイへの進出企業支援や日本とタイのビジネスマッチングを行うため、タイのバンコクにある泰日経済技術振興協会（TPA）に駐在員デスクを開設し、職員2名を派遣
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2013年12月
						dd.bl_about_list_dd
							|墨田区と連携協力に関する協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2013年12月
						dd.bl_about_list_dd
							|海洋研究期発機構（JAMSTEC）、東京海洋大学、芝浦工業大学とともに産学連携で挑んだ「江戸っ子1号プロジェクト」が内閣総理大臣賞を受賞
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2016年4月
						dd.bl_about_list_dd
							|ハロープラザ西葛西を開設
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2016年5月
						dd.bl_about_list_dd
							|東洋大学と産学連携協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2018年5月
						dd.bl_about_list_dd
							|千葉大学と産学連携協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2018年7月
						dd.bl_about_list_dd
							|初の女性支店長2名誕生
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2018年10月
						dd.bl_about_list_dd
							|東京電機大学と産学連携協定を締結
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2019年11月
						dd.bl_about_list_dd
							|「ひがしんグループSDGs宣言」を公表
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2020年12月
						dd.bl_about_list_dd
							|「プラチナくるみん」に認定
					dl.bl_about_list_dl
						dt.bl_about_list_dt
							|2021年12月
						dd.bl_about_list_dd
							|「えるぼし」に認定

		//- -------------------------------------------------------------------
		//- Connections
		//- -------------------------------------------------------------------
		section.bl_sect.bl_about
			.ly_cont
				.el_lv2Heading_wrap.el_lv2Heading_wrap__line
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんのつながり
						|Connections
				p.bl_about_txt
					|ひがしんでは、経営理念である「縁」をもとに築いてきたさまざまなネットワークを活かすことで、
					br.hp_pcOnly
					|お客さまが抱える多種多様な課題を解決し、地域の発展をサポートしています。
					figure.bl_about_circleImg
						img(src=img_path+"/about/icon_about_connections.webp", alt="")
						.bl_anime_circle
							.circle.circle1
							.circle.circle2
							.circle.circle3
					.bl_about_connectionsList
						.bl_footerNav_ttl
							span.hp_en
								|産学官金
						.bl_footerNav_ttl
							span.hp_en
								|オーロラ

						.bl_footerNav_ttl
							span.hp_en
								|科学技術振興機構
						.bl_footerNav_ttl
							span.hp_en
								|ラパン

						.bl_footerNav_ttl
							span.hp_en
								|東京都立産業技術センター
						.bl_footerNav_ttl
							span.hp_en
								|レインボー

						.bl_footerNav_ttl
							span.hp_en
								|連携大学など
						.bl_footerNav_ttl
							span.hp_en
								|ひがしんわいわい倶楽部

		//- 地域との取り組み
		section.bl_sect.bl_about
			.ly_cont
				.bl_about_connections_wrap
						.el_thirdHeading_wrap
							h2.el_thirdHeading
								|ひがしんの
								br
								|つながり
								span.hp_en 01
							.bl_anime_circle
								.circle.circle1
								.circle.circle2
								.circle.circle3
				h3.bl_about_ttl
					|あたたかく—人へ・街へ

				.bl_about_grid
					.bl_about_grid_item
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_01.webp", alt="")
						.bl_about_grid_item_inner
							.bl_about_grid_ttl
								|チャリティあさがお市
							p.bl_about_grid_txt
								|お客さまと職員が力を合わせ、本店・吾嬬支店・両国支店であさがおの販売を行う「チャリティあさがお市」。10時の販売開始から沢山のお客さまがご来店くださり、正午すぎには完売となるひがしんの恒例イベントです。イベントの収益金は、浄財金や車椅子として墨田区社会福祉協議会へ寄付しています。

		//- あたたかく—人へ・街へ
		section.bl_sect.bl_about
			.ly_cont
				.bl_about_connections_wrap
						.el_thirdHeading_wrap
							h2.el_thirdHeading
								|ひがしんの
								br
								|つながり
								span.hp_en 02
							.bl_anime_circle
								.circle.circle1
								.circle.circle2
								.circle.circle3
				h3.bl_about_ttl
					|産学官金との取り組み

				.bl_about_grid
					.bl_about_grid_item.hp_flex_rowReverse
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_02.webp", alt="")
						.bl_about_grid_item_inner
							.bl_about_grid_ttl
								|ひがしんビジネスフェア
							p.bl_about_grid_txt
								|ひがしんのお取引先をはじめ、全国から優れた商品や技術が集結する「ひがしんビジネスフェア」。例年両国国技館で開催しており、工業技術の展示や物品の販売を行っています。業種や地域を超えたビジネスマッチングの場としてもご活用いただいており、多くのお客さまにご来場いただいています。

		//- 4つの会との取り組み
		section.bl_sect.bl_about
			.ly_cont
				.bl_about_connections_wrap
						.el_thirdHeading_wrap
							h2.el_thirdHeading
								|ひがしんの
								br
								|つながり
								span.hp_en 03
							.bl_anime_circle
								.circle.circle1
								.circle.circle2
								.circle.circle3
				h3.bl_about_ttl
					|4つの会との取り組み

				.bl_about_grid.bl_about_grid__flex
					.bl_about_grid_card
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_03.webp", alt="")
						.bl_about_grid_ttl
							|ひがしんビジネスクラブ オーロラ
						p.bl_about_grid_txt
							|ひがしんのお取引先企業の経営者を会員として構成された「オーロラ」。経営に関する勉強会や講演会、異業種交流会、懇親会を通して、事業経営に関する情報交換や経営者の相互交流を図り、地域の経済発展に寄与することを目的として発足し、活動しています。

					.bl_about_grid_card
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_04.webp", alt="")
						.bl_about_grid_ttl
							|ひがしん若手経営者の会 ラパン
						p.bl_about_grid_txt
							|次世代の企業経営を担う45歳以下の若手経営者・後継者によって構成された「ラパン」。経営者同士の交流や経済・経営に関する啓発、情報交換を通して、経営に関する学びやビジネスマッチング、問題解決の場を提供することを目的として発足し、活動しています。

					.bl_about_grid_card
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_05.webp", alt="")
						.bl_about_grid_ttl
							|ひがしんレディースクラブ レインボー
						p.bl_about_grid_txt
							|女性のお客さまによって構成された「レインボー」。文化・教養・趣味などのイベントや旅行、各種見学会、スポーツ競技会などを通じて、女性の知識や教養を磨くとともに、健康に関する意識向上や会員同士の交流促進を目的として発足し、活動しています。

					.bl_about_grid_card
						.bl_about_grid_figure
							img(src=img_path+"/about/img_about_06.webp", alt="")
						.bl_about_grid_ttl
							|ひがしんわいわい倶楽部
						p.bl_about_grid_txt
							|年金受給者の健康で豊かな暮らしを願い、誕生した「ひがしんわいわい倶楽部」。多くのお客さまが参加する恒例の一泊旅行「ひがしんわいわいツアー」や「明治座観劇会」の開催や交通事故見舞金制度の運営など会員の皆さまのお役に立つ多彩な活動を行っています。

		//- 4つの会との取り組み
		section.bl_sect.bl_about
			.ly_cont
				.bl_about_logoItem
					figure.bl_about_logoItem_figure
						img(src=img_path+"/about/icon_about_logo.svg", alt="")
					.bl_about_logoItem_inner
						h2.bl_about_logoItem_ttl
							|ロゴに隠された想い
						p.bl_about_logoItem_txt
							|庫章の楕円は、地域社会と東京東信用金庫を表す二つの円が重なり一体化して、ふくよかに広がる様子を、日本の伝統的な「和」の形で表しています。右寄りの白い円は「東」の方位で、万物をはぐくむ陽光が地平から昇る姿を示し、成長や繁栄を表現しています。本庫章は指でOKするサインに似ているため、 「グッドマーク」と呼ばれています。



		//- -------------------------------------------------------------------
		//- other
		//- -------------------------------------------------------------------
		+other-parts

//- index.htmlにのみ必要なjsファイル
block append script
