//- _layout.pugを読み込みテンプレートとして使用する
extends ./include/_layout

block config
	include ./include/_config
	- var page = pagelist['home'];
	- var h1_setting = true;
	- var path = './assets/';
	- var img_path = path + 'images';
	- var link_path = './';
	- var bodyClass = 'pg_home'

//- index.htmlにのみ必要なcssファイル
block append head
	link(rel="stylesheet" href=path+"css/swiper.min.css")
	script(src=path+"js/swiper.min.js")
	script(src=path+"js/gsap.min.js")

block bodyClass
block content
	//- 背景アニメーション
	+floating-parts
	main.ly_main
		//- -------------------------------------------------------------------
		//- MV
		//- -------------------------------------------------------------------
		section.un_MV
			.un_MV_inner
				.bl_scroll.hp_pcOnly
					p.hp_en
						|Scroll
				.un_MVtxt.js_MVanime
					.marker.hp_pcOnly
						.text
							|この街を
							span 縁
							|でつなぐ。
					.marker.hp_mt.hp_spOnly
						.text
							|この街を
					.marker.hp_mt.hp_spOnly
						.text
							span 縁
							|でつなぐ。

		//- -------------------------------------------------------------------
		//- un_message
		//- -------------------------------------------------------------------
		//- message
		section.bl_sect.un_message
			//- スクロール文字
			.un_loopSlider
				.un_loopSlider_font.hp_en
					span Higashin Recruiting Website
					span Higashin Recruiting Website
			.ly_cont
				.un_message_inner
					.un_message_ttl.hp_en
						|Message
					.un_message_txtConts
						p
							|「夢を夢で終わらせない信用金庫」というスローガンを軸に、
							br.hp_pcOnly
							|色々なお客さまの色々な夢に寄り添ってきたひがしん。
						p
							|そんなひがしんでは、1945年の設立以来、
							br.hp_pcOnly
							|「縁」という経営理念を掲げ、地域やお客さま、
							br.hp_pcOnly
							|お取引先、職員とのつながりを大切にしてきました。
						p.un_message_txtConts_txtTtl
							|「この街を
							span 縁
							|でつなぐ。」
						p
							|これからも職員一人ひとりがそうした使命と想いを胸に
							br.hp_pcOnly
							|東京の東エリアを中心としたさまざまなお客さまに寄り添い、
							br.hp_pcOnly
							|夢をつなぐことで、地域の明日をつないでいきます。
					figure.un_message_logo
						img(src=img_path+"/common/icon_logo.svg", alt="")
				figure.un_message_figure
					img(src=img_path+"/home/img_message.webp", alt="")

		//- -------------------------------------------------------------------
		//- .bl_sectHome
		//- -------------------------------------------------------------------
		//- About
		section.bl_sectHome.bl_sectHome__reverse.un_about
			figure.bl_sectHome_figure
				img(src=img_path+"/home/img_about.webp", alt="")
			.bl_sectHome_inner
					//- サークルアニメーション
					.el_lv2Heading_wrap
						h2.el_lv2Heading.hp_en.js_fadein
							span ひがしんのこと
							|About
						.bl_anime_circle
							.circle.circle1
							.circle.circle2
							.circle.circle3
					h3.bl_sectHome_ttl
						|地域をつなぐ信用金庫。
					p.bl_sectHome_txt
						|ひがしんが地域やお客さまとどのような想いで関わっているのか。経営理念や金庫の歴史などひがしんを志望するうえで最初に知ってほしい基本的な情報をお伝えします。
					//- ボタン
					a.el_btn.el_btn__more.hp_en(href=link_path+"")
						span View More
						+icon_arrow

		//- Business
		section.bl_sectHome.un_business
			.bl_sectHome_inner
				//- サークルアニメーション
				.el_lv2Heading_wrap
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんの仕事
						|Business
					.bl_anime_circle
						.circle.circle1
						.circle.circle2
						.circle.circle3
				h3.bl_sectHome_ttl
					|色々な夢をつなぐ仕事。
				p.bl_sectHome_txt
					|「夢を夢で終わらせない信用金庫」というスローガンを達成するために、各職種がどのような仕事を行っているのか。ひがしんを代表する4つの職種についてご紹介します。
				//- ボタン
				a.el_btn.el_btn__more.hp_en(href=link_path+"")
					span View More
					+icon_arrow
			figure.bl_sectHome_figure
				img(src=img_path+"/home/img_business.webp", alt="")

		//- People
		section.bl_sectHome.un_people
			.ly_cont
				.bl_swiper.js_fadein
					.swiper_wrap
						//- 画像swiper
						.swiper.swiper__images
							.swiper-wrapper
								a.swiper-slide(href=link_path+"")
									img(src=img_path+"/home/img_people_01.webp", alt="")
								a.swiper-slide(href=link_path+"")
									img(src=img_path+"/home/img_people_02.webp", alt="")
								a.swiper-slide(href=link_path+"")
									img(src=img_path+"/home/img_people_03.webp", alt="")
								a.swiper-slide(href=link_path+"")
									img(src=img_path+"/home/img_people_04.webp", alt="")
								a.swiper-slide(href=link_path+"")
									img(src=img_path+"/home/img_people_05.webp", alt="")

						//- テキストswiper
						.swiper.swiper__text
							.swiper-wrapper
								a.swiper-slide(href=link_path+"")
									.swiper-slide-item
										|営業
										br
										span 
											|2022年入庫
											br
											|商経学部卒
								a.swiper-slide(href=link_path+"")
									.swiper-slide-item
										|融資
										br
										span 
											|2021年入庫
											br
											|生活科学部卒
								a.swiper-slide(href=link_path+"")
									.swiper-slide-item
										|事務
										br
										span 
											|2020年入庫
											br
											|産業科卒
								a.swiper-slide(href=link_path+"")
									.swiper-slide-item
										|MA
										br
										span
											|2022年入庫
											br
											|地域創生学部卒
								a.swiper-slide(href=link_path+"")
									.swiper-slide-item
										|お客様
										br
										|サポート部
										span 
											|2011年入庫
											br
											|経営学部卒

						//- ページネーション
						.swiper-pagination.hp_en

						//- 前後の矢印
						.swiper-button-prev.hp_reverse
							+icon_arrow
						.swiper-button-next
							+icon_arrow

				.bl_sectHome_inner
						//- サークルアニメーション
						.el_lv2Heading_wrap
							h2.el_lv2Heading.hp_en.js_fadein
								span ひがしんの人々
								|People
							.bl_anime_circle
								.circle.circle1
								.circle.circle2
								.circle.circle3
						h3.bl_sectHome_ttl
							|縁をつなぐ人々。
						p.bl_sectHome_txt
							|ひがしんの職員はどのような想いを持って働いているのか。地域やお客さまを支えるために、日々活動する職員たちに金庫や仕事に関するさまざまなことを聞いてみました。
						//- ボタン
						a.el_btn.el_btn__more.hp_en(href=link_path+"")
							span View More
							+icon_arrow

		//- Culture
		section.bl_sectHome.un_culture
			.bl_sectHome_inner
				//- サークルアニメーション
				.el_lv2Heading_wrap
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんの社風
						|Culture
					.bl_anime_circle
						.circle.circle1
						.circle.circle2
						.circle.circle3
				h3.bl_sectHome_ttl
					|つながりを大切にする文化。
				p.bl_sectHome_txt
					|「縁」という経営理念のもと、ひがしんで働く職員がどのように支え合っているのか。年齢や立場、職種の異なる職員に集まってもらい、職員同士のつながりを紐解きました。
				//- ボタン
				a.el_btn.el_btn__more.hp_en(href=link_path+"")
					span View More
					+icon_arrow
			figure.bl_sectHome_figure
				img(src=img_path+"/home/img_culture.webp", alt="")

		//- Career
		section.bl_sectHome.bl_sectHome__reverse.un_career
			figure.bl_sectHome_figure
				img(src=img_path+"/home/img_career.webp", alt="")
			.bl_sectHome_inner
				//- サークルアニメーション
				.el_lv2Heading_wrap
					h2.el_lv2Heading.hp_en.js_fadein
						span ひがしんのキャリア
						|Career
					.bl_anime_circle
						.circle.circle1
						.circle.circle2
						.circle.circle3
				h3.bl_sectHome_ttl
					|想いをつないできた日々。
				p.bl_sectHome_txt
					|ひがしんのベテラン職員はどのような想いで仕事と向き合っているのか。ベテラン職員の入庫から現在までの歩みを通じて、ひがしんならではのキャリアをお伝えします。
				//- ボタン
				a.el_btn.el_btn__more.hp_en(href=link_path+"")
					span View More
					+icon_arrow

		//- -------------------------------------------------------------------
		//- AreaVoice
		//- -------------------------------------------------------------------
		section.bl_sect
			figure.un_homeImg_figure
				img(src=img_path+"/home/img_homeImg.webp", alt="")

		//- -------------------------------------------------------------------
		//- AreaVoice
		//- -------------------------------------------------------------------
		section.bl_sect.un_AreaVoice
			.ly_cont
				.bl_gridConts
					.bl_grid_item.js_fadein
						h2.el_lv2Heading.hp_en.js_fadein
							span ひがしん支店巡り
							|Area
						.bl_grid_item_figure
							img(src=img_path+"/home/img_area.webp", alt="")
						p.bl_grid_item_txt
							|東京の東エリアを中心に、埼玉や千葉にも支店を展開するひがしん。各エリアや支店ごとにどのような特徴があるのか。それぞれの支店で働く若手職員に特徴を聞いてみました。
						//- ボタン
						a.el_btn.el_btn__more.hp_en(href=link_path+"")
							span View More
							+icon_arrow
					.bl_grid_item.js_fadein
						h2.el_lv2Heading.hp_en.js_fadein
							span ひがしんアンケート
							|Voice
						.bl_grid_item_figure
							img(src=img_path+"/home/img_voice.webp", alt="")
						p.bl_grid_item_txt
							|ひがしんの職員や内定者は金庫や仕事に対してどのような想いを抱いているのか。さまざまな年代・職種の職員や内定者に匿名アンケートを実施し、本音に迫りました。
						//- ボタン
						a.el_btn.el_btn__more.hp_en(href=link_path+"")
							span View More
							+icon_arrow

		//- -------------------------------------------------------------------
		//- Recruit
		//- -------------------------------------------------------------------
		section.bl_sect.un_recruit
			.ly_cont
				h2.el_lv2Heading.hp_en.js_fadein
					span 採用情報
					|Recruit
				.un_recruitConts
					.un_recruit_item
						figure.un_recruit_figure
							img(src=img_path+"/home/img_recruit_en.webp", alt="")
						.un_recruit_ttl.hp_en
							|Environment
						.un_recruit_txt
							|働く環境
					.un_recruit_item
						figure.un_recruit_figure
							img(src=img_path+"/home/img_recruit_ed.webp", alt="")
						.un_recruit_ttl.hp_en
							|Education
						.un_recruit_txt
							|人材育成
					.un_recruit_item
						figure.un_recruit_figure
							img(src=img_path+"/home/img_recruit_re.webp", alt="")
						.un_recruit_ttl.hp_en
							|Requirements
						.un_recruit_txt
							|募集要項
					.un_recruit_item
						figure.un_recruit_figure
							img(src=img_path+"/home/img_recruit_faq.webp", alt="")
						.un_recruit_ttl.hp_en
							|Faq
						.un_recruit_txt
							|よくある質問

		//- -------------------------------------------------------------------
		//- other
		//- -------------------------------------------------------------------
		+other-parts

//- index.htmlにのみ必要なjsファイル
block append script
	script.
		const swiper = new Swiper(".swiper", {
			loop: true,
			simulateTouch: false,
			effect: 'fade', // フェード効果を追加
			fadeEffect: {
				crossFade: true // スムーズなフェードを確保
			},
			speed: 800, // トランジションの速度を調整
			//- ページネーション
			pagination: {
				el: ".swiper-pagination",
				type: "fraction", // 枚数表示
				renderFraction: function (currentClass, totalClass) {
					return '<span class="' + currentClass + '"></span><span class="' + totalClass + '"></span>';
				}
			},
			//- 前後の矢印
			navigation: {
				nextEl: ".swiper-button-next",
				prevEl: ".swiper-button-prev",
			},
		});