//- -------------------------------------------------------------------
//- header
//- -------------------------------------------------------------------
header.ly_header
	.ly_header_inner
		//- PC用ロゴ表示

		if h1_setting
			h1.bl_headerConts.u-pcOnly
				a.bl_headerConts_logo#js_logo(href=link_path+"")
					.el_logo
						img(src=img_path+"/common/icon_logo.svg", alt="")
					p.bl_headerConts_txt.hp_en
						|New Graduate
						br
						|Recruitment
		else
			.bl_headerConts.u-pcOnly
				a.bl_headerConts_logo#js_logo(href=link_path+"")
					img(src=img_path+"/common/icon_logo.svg", alt="")
					p.bl_headerConts_txt.hp_en
						|New Graduate
						br
						|Recruitment

		.bl_headerUnit
			//- ボタン
			a.el_btn.el_btn__entry.hp_en.hp_pcOnly(href=link_path+"message/")
				span ENTRY
			//- ハンバーガーボタン
			.bl_ham
				button.bl_ham_inner#js_ham
					span
					span

//- ナビゲーション sp
nav
	.bl_hamNav#js_nav
		.bl_hamNav_inner
			.bl_footerNav
				.bl_footerNav_list
					.bl_footerConts_logo#js_logo
						.el_logo
							img(src=img_path+"/common/icon_logo.svg", alt="")
						p.bl_footerConts_txt.hp_en
							|新卒採用サイト

					a.el_btn.el_btn__entry.hp_en.hp_spOnly(href=link_path+"message/")
						span ENTRY

					a.bl_footerNav_item(href=link_path+"")
						.bl_footerNav_ttl
							span.hp_en
								|Top
							|トップページ
					a.bl_footerNav_item(href=link_path+"")
						.bl_footerNav_ttl
							span.hp_en
								|About
							|ひがしんのこと
					a.bl_footerNav_item(href=link_path+"")
						.bl_footerNav_ttl
							span.hp_en
								|Business
							|ひがしんの仕事

				.bl_footerNav_list
					.bl_footerNav_item
						.bl_footerNav_ttl.bl_footerNav_ttl__accordion
							span.hp_en
								|People
							|ひがしんの人々
						.bl_footerNavChild.bl_footerNavChild__accordion
							a.bl_footerNavChild_link(href=link_path+"")
								|営業／2022年入庫
							a.bl_footerNavChild_link(href=link_path+"")
								|融資／2021年入庫
							a.bl_footerNavChild_link(href=link_path+"")
								|事務／2020年入庫
							a.bl_footerNavChild_link(href=link_path+"")
								|マネーアドバイザー／2022年入庫
							a.bl_footerNavChild_link(href=link_path+"")
								|お客様サポート部／2011年入庫
					.bl_footerNav_item
						.bl_footerNav_ttl.bl_footerNav_ttl__accordion
							span.hp_en
								|Culture
							|ひがしんの社風
						.bl_footerNavChild.bl_footerNavChild__accordion
							a.bl_footerNavChild_link(href=link_path+"")
								|上司×部下対談
							a.bl_footerNavChild_link(href=link_path+"")
								|若手同期座談会
							a.bl_footerNavChild_link(href=link_path+"")
								|営業×マネーアドバイザー対談

				.bl_footerNav_list
					.bl_footerNav_item
						.bl_footerNav_ttl.bl_footerNav_ttl__accordion
							span.hp_en
								|Career
							|ひがしんのキャリア
						.bl_footerNavChild.bl_footerNavChild__accordion
							a.bl_footerNavChild_link(href=link_path+"")
								|支店長／1996年入庫
							a.bl_footerNavChild_link(href=link_path+"")
								|支店長／1990年入庫
					.bl_footerNav_item
						.bl_footerNav_ttl
							span.hp_en
								|Area
							|ひがしん支店巡り
					.bl_footerNav_item
						.bl_footerNav_ttl.bl_footerNav_ttl__accordion
							span.hp_en
								|Voice
							|ひがしんアンケート
						.bl_footerNavChild.bl_footerNavChild__accordion
							a.bl_footerNavChild_link(href=link_path+"")
								|職員アンケート
							a.bl_footerNavChild_link(href=link_path+"")
								|内定者アンケート

				.bl_footerNav_list
					.bl_footerNav_item
						.bl_footerNav_ttl.bl_footerNav_ttl__accordion
							span.hp_en
								|Recruit
							|採用情報
						.bl_footerNavChild.bl_footerNavChild__accordion
							a.bl_footerNavChild_link(href=link_path+"")
								|働く環境
							a.bl_footerNavChild_link(href=link_path+"")
								|人材育成
							a.bl_footerNavChild_link(href=link_path+"")
								|募集要項
							a.bl_footerNavChild_link(href=link_path+"")
								|よくある質問



					//- .bl_footerCopyUnit
					//- 	a.bl_footerCopyBlank(href="https://www.higashin.co.jp/", target="_blank")
					//- 		span
					//- 			|東京東信用金庫サイト
					//- 		.el_logo
					//- 			img(src=img_path+"/common/icon_blank.svg", alt="")
					//- 	small.bl_footerCopyright.hp_en
					//- 		|&copy; The Tokyo Higashi Shinkin Bank.
					//- 		br.hp_pcOnly
					//- 		|All Rights Reserved.

